@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    /* helvetica */
    font-family: helNormal;
    src: url(../public/fonts/Helvetica.ttf);
}
@font-face {
  
      /* gilsans */
    font-family: gilNormal;

    src: url(../public/fonts/Gill\ Sans.otf);
}



.gilFnt{
   font-family:gilNormal;
}
.helFnt{
    font-family: helNormal;
}
.background{
 background-color:hsla(0, 0%, 100%, 0.33);

}

.foundationbg_img{
    background-image: url(../public/images/children.jpg);
}

.fashionbg{
    background-image:url(../public/images/fashion.jpg);
}

.entertainmentbg {
 background-image: url(../public/images/entertainment.jpg);
}

.mission {
    background-image: url(../public/images/mission.jpg) ;
}

.vision{
    background-image: url(../public/images/vision.jpg);
}





