
.foundation{
    width: 100%;
    height: 500px;
    background: url("../public/images/children.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.foundation .foundation_content{
    width: 100%;
    height: 500px;
    background: #000000ac;
    display: flex;
    justify-content: center;
    align-items: center;
}
.estate_img_div{
    height: 600px;
}
.trans_div{
    width: 100%;
}
.trans_div::-webkit-scrollbar{
    width: 0px;
}
.trans_logistics{
    width: 100%;
    height: 200px;
      overflow-x: scroll;
    /* background: url("../public/images/road.jpg");
  background-size: cover;
    background-position: center;
   background-repeat: no-repeat; */
}
.trans_logistics::-webkit-scrollbar{
    width: 0px;
}
.car_div{
    position: relative;
    animation: car 9s infinite running normal;
    transition: 1s all ease-out;
   
}
/* @keyframes car {
    0%{
        transform: translateX(0px);
    }
  
    100%{
        transform: translateX(1700px);
    }
} */
.car{
    width: 400px;
}
.wheel1{
    width:80px;
 top: 85px;
 left: 30px;
    position: absolute;
    animation: wheel 9s infinite  running normal;
    border-radius: 40px;

}
.wheel2{
    width:80px;
    left: 275px;
    top: 89px;
    position: absolute;
  animation: wheel 9s infinite  running normal;
  border-radius: 40px;
}
.febila_car_text{
    position: absolute;
    top: 60px;
    left: 130px;

    color: white;
    font-size: 1.5rem;
    font-weight: bold; 
}
.febila_car_text span{
    font-weight: 400;
    font-size: 0.9rem;
}

@keyframes wheel {
    0%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.fashion_back_img{
    width: 100%;
    height: 500px;
    background: url("../public/images/fashion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.fashion_back_img_cover{
    width: 100%;
    height: 500px;
    background: #000000ac;
}
.fashion_collection{
    display: grid;
    grid-template-columns: 40% 30% 20%;
    justify-content: space-between;
    width: 90%;
}

.collection_content1{
    width: 100%;
    background: url("../public/images/fas1.jpg");
    height: 200px;
    background-position: center;
    background-size: cover;
}
.collection_content2{
    width: 100%;
    background: url("../public/images/fas2.jpg");
    height: 200px;
    background-position: center;
    background-size: cover;
}
.collection_content3{
    width: 100%;
    background: url("../public/images/fasion.jpg");
    height: 200px;
    background-position: center;
    background-size: cover;
}
.fashion_collection div div{
    height:170px;
    background: rgba(0, 0, 0, 0.776);
}
.mission_img{
    height: 500px;
}
.sayings{
    display:grid;
    grid-template-columns:20% 20% 20% 20%;
    justify-content: center;
}
.footer{
    display: grid;
    grid-template-columns: 30% 20% 20% 20%;
    justify-content:space-around;
     align-items: center;

}

@media (Max-width:1050px){
    .estate_img_div{
        height: 400px;
    }
    .mission_img{
        height: 400px;
    }
}
@media (max-width:950px){
.sayings{
    grid-template-columns: 23% 23% 23% 23%;
}
}

@media (max-width:850px){
.car{
    width: 240px;
}
.wheel1{
    width: 50px;
    top: 50px;
    left: 20px;
}
.wheel2{
    width: 50px;
    top: 50px;
    left: 165px;
}
.febila_car_text{
    left: 70px;
     top:35px;
    font-size:0.9rem;
}
}
@media (max-width:800px){
.sayings{
    grid-template-columns: 25% 25% 25% 25%;
}
.footer{
    grid-template-columns:95%;
    justify-content: center;
}

}

@media (max-width:650px){
    .sm{
        width: 95%;
    }
.sayings{
    grid-template-columns: 40% 40%;
}

}
@media (max-width:450px){
.sayings{
    grid-template-columns: 95%;
  
}
.trans_div{
    width: 95%;
    margin: 0 auto;
}
.trans_div br{
    display: none;
}
.client-testimony{
    width: 95%;
    margin:  0 auto;
}
}

@media (max-width:560px){
    .car{
        width: 100px;
    }
    .wheel1{
        width: 25px;
        top: 20px;
        left: 5px;
    }
    .wheel2{
        width: 25px;
        top: 20px;
        left: 70px;
    }
    .febila_car_text{
        font-size: 0.5rem;
        left: 30px;
        top: 15px;
    }
    .febila_car_text span{
        font-size: 0.5rem;
        display: none;
    }
}

@media (max-width:650px) {
    .fashion_collection{
        display: grid;
        grid-template-columns: 100%;

    }
    .collection_content{
        margin-bottom: 20px;
    }
    .estate_img_div{
        width: 100%;

    }
    
}
