.hero{
    background: url(../public/images/estate5.jpg);
}
.hero_content{
    position: relative;

   
}
.background_design1{
    width: 200px;
    height: 200px;
    border-radius: 200px 300px 100px;
    position: absolute;
    left: 400px;
    top: 100px;
    

}
.about_details_div{
    width: 100%;
    overflow-x: hidden;
}
.about_details{

    animation:about 20s infinite running normal ;
}

@keyframes about {
    0%{
   transform: translateX(0px);
    }
    50%{
        transform: translateX(400px);
        transition: 20s ease-in all;
    }
    100%{
        transform: translateX(-400px);
    }
}

.estate_div{
    position: relative;
}
.estate-background{
    width: 90%;
    margin:0 auto;
    height: 400px;
    border-radius: 5px;
    background: url(../public/images/estate6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.estate-foreground{
    position: absolute;
    width: 400px;
    height: 200px;
    top: 270px;
    left: -70px;
    border-radius: 5px;
    object-fit: cover;
}
.fashion_img1{
     background: url(../public/images/fas2.jpg);
     background-position: center;
     background-size: cover;
}

.fashion_img2{
     background: url(../public/images/fas2.jpg);
     background-position: center;
     background-size: cover;
}
.fashion_img3{
     background: url(../public/images/fas2.jpg);
     background-position: center;
     background-size: cover;
}
.fashion_img4{
     background: url(../public/images/fas2.jpg);
     background-position: center;
     background-size: cover;
}




.footer{
    display: grid;
    grid-template-columns: 30% 20% 20% 20%;
    justify-content:space-around;
     align-items: center;

}
@media (max-width:1233px) {
 .background_design1{
    left: 250px;
    

 }
}

@media (Max-width:1050px){
    
   
    .farming_img_div{
        width: 90%;

    }
    .farming_img_div .img{
        width: 100%;
     
    }
}
@media (max-width:950px){
.sayings{
    grid-template-columns: 23% 23% 23% 23%;
}
}

@media (max-width:800px){
.sayings{
    grid-template-columns: 25% 25% 25% 25%;
}
.footer{
    grid-template-columns:95%;
    justify-content: center;
}

}

@media (max-width:650px){
    .sm{
        width: 95%;
    }
.sayings{
    grid-template-columns: 40% 40%;
}
.estate_div h1{
    text-align: left;
}
.estate_div p{
    text-align: left;
}
.estate_div .btn_div{
    justify-content: start;
}
.background_design1{
    left: 0;
}
}
@media (max-width:450px){

.estate-foreground{
    width: 100%;
    
}

}


